@media screen {
    .old-word {
        background-color: lightBlue;
    }
    .lapsed-word {
        background-color: #F0E68C;
    }
    .new-word {
        background-color: pink;
    }
    .omitted-word {
        background-color: pink;
    }
    .obsolete-word {
        background-color: lightBlue;
    }
    .vulgar-word {
        background-color: #F0E68C;
    }
    .rare-word {
        background-color: lightBlue;
    }
    .absent-word {
        background-color: pink;
    }
    .query-word {
        background-color: pink;
    }
    .query-highlight-word {
        background-color: pink;
        border:2px solid black;
        margin: -2px;
    }
}

@media print {
    .old-word {
        border:2px solid lightBlue;
        margin: -2px;
    }
    .lapsed-word {
        border:2px solid #F0E68C;
        margin: -2px;
    }
    .new-word {
        border:2px solid pink;
        margin: -2px;
    }
    .omitted-word {
        border:2px solid pink;
        margin: -2px;
    }
    .obsolete-word {
        border:2px solid lightBlue;
        margin: -2px;
    }
    .vulgar-word {
        border:2px solid #F0E68C;
        margin: -2px;
    }
    .rare-word {
        border:2px solid lightBlue;
        margin: -2px;
    }
    .absent-word {
        border:2px solid pink;
        margin: -2px;
    }
    .query-word {
        border:2px solid pink;
        margin: -2px;
    }
    .query-highlight-word {
        border:2px solid red;
        margin: -2px;
    }
}
