* {
    outline: none;
}

#header-loading {
    position: absolute;
    top: 0;
    height: 55px;
    width: 100%;
    margin: 0;
    padding-top: 35px;
    background-color: #f1ede5;
    border-bottom: 1px solid #c5b390;
    z-index: 5;
    text-align: center;
    font-weight: bold;
}

#header {
    position: absolute;
    top: 0;
    /*height: 80px;*/
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #f1ede5;
    border-bottom: 1px solid #c5b390;
    z-index: 1;
    text-align: left;
}

#option-area {
    margin-left: 8px;
    margin-top: 4px;
    text-align: center;
}

#play-button {
    width: 20px;
    height: 20px;
    margin: 7px 10px 0px 0px;
}

#slider {
    width: 300px;
    margin: 10px 11px 10px 0px;
}

#slider .ui-slider-handle {
}

#slider-value-area {
    width: 32px;
    position: relative;
    top: 9px;
    left: 2px;
    text-align: left;
    white-space: nowrap;
}

.slider-value {
    font-weight: bold;
}

.selected-year {
    font-weight: bold;
}

#controls {
    margin-top: 6px;
    margin-right: 8px;
    padding: 5px;
    background-color: white;
    border: 1px solid #e0cfc2;
}

#main-area {
    text-align: left;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#text-area {
    position: relative;
    text-align: left;
    background-color: white;
    border: 0;
    font-family: 'Inika', sans;
}

.line {
    padding-bottom: 1em;
}

#use-print-link-message {
    display: none;
}

@media screen {
    #print-header {
        display: none;
    }
    #text-area {
        display: inline-block;
        top: 170px;
        padding-left: 80px;
        padding-right: 10px;
        padding-bottom: 300px;
        font-size: 11pt;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #text-area {
        top: 150px;
        padding-left: 60px;
        font-size: 10pt;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    #text-area {
        top: 110px;
        padding-left: 35px;
        font-size: 10pt;
    }
}

@media only screen and (max-device-width: 480px) {
    #text-area {
        top: 110px;
        padding-left: 35px;
        font-size: 9.5pt;
    }
}

@media print {
    #header {
        display: none;
    }
    #print-header {
        display: inline;
    }
    #print-header > div {
        margin-top: 1px;
        border: 1px solid black;
        padding: .5em;
        font-size: 12pt;
    }
    #text-area {
        display: inline;
        top: 50px;
        left: 80px;
        padding: 0;
        font-size: 11pt;
    }
    #word-info {
        visibility: hidden;
    }
    #word-list {
        visibility: hidden;
    }
    #save-box {
        visibility: hidden;
    }
    #save-error-box {
        visibility: hidden;
    }
    #help-box {
        visibility: hidden;
    }
}

.back-button {
    position: absolute;
    left: -68px;
    width: 38px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
}

#definition-area,#word-list-area,#stats-area,#reverse-lookup-word-area {
    -webkit-overflow-scrolling: touch;
}

#word-info {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 405px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
}

#reverse-lookup-box {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 405px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
}

#stats-box {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 405px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
}

#document-chart {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dictionary-stats {
    margin-top: 0 !important;
}

#stats-area {
    margin-top: 0 !important;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#selected-year-stats div {
    margin-top: 0.5em;
}

#freq-stats div {
    margin-top: 0.5em;
}

#stats-area div {
    margin-top: 0.5em;
}

#stats-box ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#stats-box ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#word-list {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 405px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
}

#word-list-area {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#word-list ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#word-list ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#word-list-area > div {
    margin-top: 0.5em;
}

#word-list-area > hr {
    clear: both;
}

#save-box {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
    z-index: 2;
}

#save-error-box {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
    z-index: 2;
}

#help-box {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 405px;
    padding: 10px;
    background-color: #f1ede5;
    border: 1px solid #c5b390;
    display: none;
    line-height: 1.5em;
}

#help-box div {
    margin-top: 10px;
}

#help-box div:first-child {
    margin-top: 0;
}

.key {
    margin-right: 14px;
    padding: 5px;
    background-color: white;
    border: 1px solid #e0cfc2;
}

.key div {
    margin-top: 0;
}

#help-cookie-message {
    font-weight: bold;
}
