#selected-word {
    font-weight: bold;
}

#word-usage-chart {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#definition-area {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#definitions div {
    margin-top: 0.5em;
}

.usage-period-text {
    font-weight: bold;
}

#word-info-loading-message {
    position: relative;
    width: 400px;
    top: 115px;
    text-align: center;
    font-weight: bold;
}

#word-info ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#word-info ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
